@page "/"

<PageTitle>Home</PageTitle>

<div id="hero-setup">
    <h3>Hero setup</h3>
    <p>Here goes the hero setup component.</p>
    <p>[A form to input the hero's name]</p>
    <p>[A drop down menu to choose hero's class]</p>
</div>

<div id="fight">
    <h3>Fight</h3>
    <div class="players-container">
        <div class="player">
            <p><strong>Player 1:</strong> @warrior.CharacterName</p>
            <p><strong>Level:</strong> @warrior.Level</p>
            <p><strong>Experience:</strong> @warrior.ExperienceValue / @warrior.ExperienceToNextLevel</p>
            <p><strong>Health:</strong> @warrior.HealthValue HP</p>
            <p><strong>Energy:</strong> @warrior.EnergyValue Energy</p>
            <button class="btn btn-danger" @onclick="WarriorAttack">P1 Attack P2</button>
        </div>
        <h1>×</h1>
        <div class="player">
            <p><strong>Player 2:</strong> @mage.CharacterName</p>
            <p><strong>Level:</strong> @mage.Level</p>
            <p><strong>Experience:</strong> @mage.ExperienceValue / @mage.ExperienceToNextLevel</p>
            <p><strong>Health:</strong> @mage.HealthValue HP</p>
            <p><strong>Energy:</strong> @mage.EnergyValue Energy</p>
            <button class="btn btn-danger" @onclick="MageAttack">P2 Attack P1</button>
        </div>
    </div>
</div>

<div id="console">
    <h3>Console</h3>
    <ConsoleComponent />
</div>

@code {
    // Fight Plugin
    private HeroWarrior? warrior;
    private HeroMage? mage;
    private LevelProgression levelProgression = new LevelProgression(100, 1.2);

    protected override void OnInitialized()
    {
        // Initialize player 1
        warrior = new HeroWarrior("Ragnar", false, 20, 12, 5, 3, levelProgression, 1, 0);

        // Initialize player 2
        mage = new HeroMage("Ariana", false, 16, 18, 7, 2, levelProgression, 1, 0);
    }

    private void WarriorAttack()
    {
        warrior.Attack(mage);
        StateHasChanged();
    }
    
    private void MageAttack()
    {
        mage.Attack(warrior);
        StateHasChanged();
    }
}